<a href="/bright_ideas">Bright Ideas!</a>
<table>
	<tr><td>Name:</td>
		<td><%= @user.name %></td>
	</tr>
	<tr><td>Alias:</td>
		<td><%= @user.alias %></td>
	</tr>
	<tr><td>E-mail:</td>
		<td><%= @user.email %></td>
	</tr>
	<tr><td>Number of Ideas:</td>
		<td><%= @idea_count %></td>
	</tr>
	<tr><td>Number of Likes:</td>
		<td><%= @like_count %></td>
	</tr>
</table>